h1{
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    text-align: center;
  
}

body{
    background-color:lightslategrey;
}

h2{
    color:white;
    float: left;
    margin-left: 600px;
    margin-bottom: 30px;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    border: 4px double;
    width: 234px; 
}

section{
    color: #ffb766;
    margin-left: 560px;
    border-style: dotted;
    float: left;
    text-align: center;   
}
img{
    margin-left: 10px;
}
main{
    text-align: center
    ;
}

